@font-face {
    font-family: Invader;
    src: url(fonts/Super\ Vibes\ -\ \(Demo\)\ hanscostudio.com.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Invader;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(imgs/spacebg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ECD6C3;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #ECD6C3;
    color: #1D313C;
}

ul li.active a{
    background-color: #ECD6C3;
    color: #1D313C;
}

.logo img{
    float: left;
    width: 85px;
    height: 85px;
    padding-left: 2%;
    padding-right: 2%;
}

.main{
    max-width: 1200px;
    margin:auto;
}